<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DbProviderFactories>
    <add name="Npgsql Data Provider" invariant="Npgsql"
          description="Data Provider for PostgreSQL"
          type="Npgsql.NpgsqlFactory, Npgsql" />
    <add invariant="System.Data.SqlClient" />
  </DbProviderFactories>
 <!--<providers>
    <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>-->
</configuration>